
* {
    padding: 0;
    margin: 0;
    font-family: Arial;
    font-size: 15px;
}

.post {
    display: flex;
    flex-direction: column;
    justify-self: center;
    padding-bottom: 15px;
    border-bottom: rgba(166, 165, 165, 0.5) 1px solid;
}

img {
    max-width: 500px;
}

button {
    background: none;
    border: none;
    font-weight: bold;
    cursor: pointer;
}

.profile {
    display: flex;
    align-items: center;
    justify-content: space-between;

    #dots {
        justify-content: end;
        font-size: 22px;
        text-align: center;
        max-height: 15px;
        cursor: pointer;
    }

    div {
        display: flex;
        gap: 10px;
        padding-top: 15px;
        align-items: center;

        a {
            text-decoration: none;
            color: black;
            font-weight: bold;
        }
    }
}

.profile-picture {
    max-width: 30px;
    max-height: 30px;
    min-height: 30px;
    min-width: 30px;
    border-radius: 25px;
}
.icons-div{
    display: flex;
    justify-content: space-between;
}
.icons {
    display: flex;
    gap: 15px;
}

#bookmark {
    justify-items: end;
}
#translate{
    font-size: 12px;
}
#view{
    color: gray;
    font-weight: normal;
}
div{
    gap: 15px;
}
.caption{
    max-width: 490px;
    .user-name{
        font-weight: bold;
        cursor: pointer;
    }
}
.likes {
    font-weight: bold;
    font-size: 15px;
    button{
        font-size: 15px;
        cursor: pointer;
    }
}
.bi{
    font-size: 20px;
    -webkit-text-stroke: 0.4px currentColor;
    cursor: pointer;
}
.bi:hover{
    color: blue;
}